
	/*
.canSlider{
	width:100%;
	height:100%;
	background:#ECE6D8;
	background-size: 100% auto;
	background-position:center center;
}*/

/*
.canSlider {
    width:100%;
	height:420px;
    overflow:hidden;
	position:relative;
}
*/
/*
.canSlider img {
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;

	
}*/





